* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(fondo-login-spa.jpg);
    background-size: 100vw 100vh; /*para que la imagen ocupe el 100% de la pantalla*/
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
}

form {
    width: 50%;
    max-width: 450px;
    margin: auto;
    background: #f3f3f3;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

h2 {
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

#boton {
    background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color: brown; 
    border-radius: 20px;
    opacity: 0.8;
    margin-bottom: 0;
}

#boton:hover {
    cursor: pointer;
    opacity: 1;
}

#boton:active {
    transform: scale(0.96);
}

@media (max-width:480px) {
    form {
        width: 90%;
    }
}

@media (max-width:760px) {
    form {
        width: 75%;
    }
}